// Color palette
$primary-text: #D3573C;
$secondary-text: #901C1C;
$tiertary-text: #525252;
$tiertary-light-text: #757575;

$primary-bg: #901C1C;
$secondary-bg: #D3573C;
$tertiary-bg: #FAFAFA;

$white: #FFFFFF;
$black: #000000;
$black-light: #312E2E;

$modal-bg: #DB8876;

// Text size
$title-size: 56px;
$card-title-size: 36px;

$city-size: 24px;
$card-city-size: 15px;

$text-size: 20px;
$card-text-size: 13px;

//border radius
$radius: 5px;